<a href="https://colab.research.google.com/github/LouisaNaf/SQL_homeworks_Nafikova/blob/main/Graphs_lesson_4_lesson_5_Nafikova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  #установка библиотек
# !pip install psycopg2
# !pip install plotly

In [1]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd
#Библиотека для визуализации
from IPython.display import HTML
import plotly.express as px


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student17'
DB_USER_PASSWORD = 'student17_password'
DB_NAME = 'sql_ex_for_student17'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
#--task10 (lesson4)
#--Компьютерная фирма: На базе products_price_categories_with_makers построить по каждому производителю график (X: category_price, Y: count)
request = """
select *
from products_price_categories_with_makers

"""
df = pd.read_sql_query(request, conn)
fig = px.bar (x=df['category_price'].to_list(), y=df['count'].to_list(), color=df['maker'].to_list(), labels={'x':'category_price', 'y':'count',  'color': 'maker'})
fig.show()

In [ ]:
#--task11 (lesson4)
#-- Компьютерная фирма: На базе products_price_categories_with_makers по строить по A & D график (X: category_price, Y: count)
request = """
select category_price, maker, count(*)
from products_price_categories_with_makers
where maker = 'A' 
group by category_price, maker
union all
select category_price, maker, count(*)
from products_price_categories_with_makers
where maker = 'D'
group by category_price, maker

"""
df = pd.read_sql_query(request, conn)
fig = px.bar (x=df['category_price'].to_list(), y=df['count'].to_list(), color=df['maker'].to_list(), labels={'x':'category_price', 'y':'count',  'color': 'maker'})
fig.show()

In [ ]:
#--task7 (lesson4)
#-- По предыдущему view (count_products_by_makers) сделать график в colab (X: maker, y: count)
request = """
select *
from count_products_by_makers

"""
df = pd.read_sql_query(request, conn)
fig = px.bar (x=df['maker'].to_list(), y=df['count'].to_list(),labels={'x':'maker', 'y':'count'})
fig.show()

In [ ]:
#--task11 (lesson4)
#-- Корабли: По предыдущему view (sunk_ships_by_classes) сделать график в colab (X: class, Y: count)
request = """
select *
from sunk_ships_by_classes

"""
df = pd.read_sql_query(request, conn)
fig = px.bar (x=df['class_with_0'].to_list(), y=df['count'].to_list(),labels={'x':'class', 'y':'count'})
fig.show()

In [ ]:
#--task13 (lesson4)
#-- Корабли: Сделать график в colab по таблице classes с количеством классов по странам (X: country, Y: count)
request = """
select country, count (class) 
from classes 
group by country 

"""
df = pd.read_sql_query(request, conn)
fig = px.bar (x=df['country'].to_list(), y=df['count'].to_list(), labels={'x':'country', 'y':'count'})
fig.show()

In [ ]:
#--task16 (lesson4)
#-- Корабли: Построить график с количеством запущенных на воду кораблей и годом запуска (X: year, Y: count)
request = """
select launched, count(*)
from ships 
group by launched 

"""
df = pd.read_sql_query(request, conn)
fig = px.bar (x=df['launched'].to_list(), y=df['count'].to_list(), labels={'x':'year', 'y':'count'})
fig.show()

In [ ]:
#--task11 (lesson5)
#-- Компьютерная фирма: Построить график с со средней и максимальной ценами на базе products_with_lowest_price (X: maker, Y1: max_price, Y2: avg)price
request = """
select maker, max(price) as max_price, avg(price) as avg_price
from products_with_lowest_price 
group by maker

"""
df = pd.read_sql_query(request, conn)
fig = px.bar (x=df['maker'].to_list(), y=df['max_price'].to_list(), color=df['avg_price'].to_list(), labels={'x':'maker', 'y':'max_price', 'color': 'avg_price'})
fig.show()

In [ ]:
#--task3 (lesson5)
#-- Компьютерная фирма: Сделать на базе предыдущенр view график - круговую диаграмму
request = """
select * 
from distribution_by_typ

"""
df = pd.read_sql_query(request, conn)
fig = px.pie(df, values='c', names='type', title='percentage of product type')
fig.show()